.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding-top: 5rem;
  padding-bottom: 12rem;
}
.buttonLinkG {
  background-color: var(--black);
  color: aliceblue;
  border-radius: 10px;
  border: none;
  margin: 4px 0px 4px 5px;
  padding: 2px 6px 2px 6px;
}
.buttonLinkD {
  border: none;
  background-color: var(--orange);
  color: aliceblue;
  border-radius: 10px;
  margin: 4px 0px 4px 5px;
  padding: 2px 6px 2px 6px;
}

.buttonLinkV {
  border: none;
  background-color: darkblue;
  color: aliceblue;
  border-radius: 10px;
  margin: 4px 0px 4px 5px;
  padding: 2px 6px 2px 6px;
}
.buttonLinkG:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px cyan;
  cursor: pointer;
}
.buttonLinkD:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px cyan;
  cursor: pointer;
}
.buttonLinkV:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 10px cyan;
  cursor: pointer;
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper {
  /* background-color: aqua; */
  overflow: visible !important;
}

.portfolio-slider {
  /* background-color: blue; */
  margin-top: 1rem;
  width: 100%;
}

.slidediv {
  background-color: blueviolet;
  width: 200rem;
}
.portfolio img {
  width: 30rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

@media screen and (max-width: 480px) {
  .portfolio img {
    width: 20rem;
    border-radius: 10px;
  }

  .portfolio {
    padding-top: 0rem;
    padding-bottom: 15rem;
  }
}
