.portfolio2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
/* heading */
.portfolio2 h1:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
  margin-top: -2rem;
}
.letrasMobile {
  display: none;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 30vh;
  margin-top: -13rem;
  margin-bottom: 9rem;
  /* darkmode */
  color: var(--black);
  padding-top: 13rem;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  width: 3rem;
  height: 3rem;
  background: white;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.circle::before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(to bottom, #87e6fb 0%, #010231 100%);
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  position: absolute;
  z-index: -1;
  box-shadow: var(--boxShadow);
}

.achievement span:nth-of-type(2) {
  color: var(--orange);
}
.glassLanding {
  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  background: rgb(2, 2, 43);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(55px);
  border: 1.5px solid var(--orange);
}
@media screen and (max-width: 480px) {
  .experience {
    transform: scale(0.7);
    flex-direction: column;
    padding-top: 5rem;
  }
  .portfolio2 h1:nth-of-type(1) {
    display: none;
  }
  .textolandig2 {
    display: none;
  }
  .textolandig1 {
    display: none;
  }
  .letrasMobile {
    display: flex;
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
    height: 100px;
    position: relative;
    top: -300px;
  }
}
