.toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid white;
  border-radius: 1rem;
  position: relative;
  padding: 2px;
  cursor: pointer;
}
.toggle > * {
  width: 1rem;
  height: 1rem;
  color: white;
}
.t-button {
  border-radius: 100%;
  background: white;
  position: absolute;
}
