.floatingDiv {
  justify-content: space-around;
    background: rgba(243, 243, 243, 0.733);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  display: flex;
  align-items: center;
  padding: 0px 28px 0px 0px;
  height: 4.5rem;
}
.floatingDiv > img {
  transform: scale(0.5);
}
.floatingDiv > span {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 800;
  /* yahan ye color add kia hy bad mein dark mode k waqt */
  color: black;
}
